body {
  	font-family:  Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	padding: 0px;
	margin: 0px;
}

/*hover不出现下划线*/
a:hover{
	text-decoration: none;
}


/*重写row类防止出现横向滚动条*/
.row{
margin: 0px;
}
/*导航高度*/
.navbar{
}

/*中间填充部分*/

#content{
	margin-top: 50px;
	min-height: 500px;
}
/*轮播*/
#myCarousel{
height: 400px;	
}
#myCarousel img{
	height: 400px;
	width: 100%;
}
.thumbnail{


}
#news{
	margin-top: 50px;
}
#footerwrap {
	background: #2b2b2b;
	padding: 25px 0 15px 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
#footerwrap span.copyright {
	line-height: 40px;
	color: #888;
	font-weight: 400;
}
#footerwrap span.copyright a {
	color: #888;
	border-bottom: 1px dotted;
}
#footerwrap span.copyright a:hover {
	color: #3ab7cb;
	text-decoration: none;
}
#footerwrap h4 {
	color: white;
}




